# dependencies
node_modules/
.pnp/
.pnp.js
.terraform/
.venv/

# production
build/
dist/
tmp/
out-tsc/
out/

# testing
coverage/

# editors
.vscode/
.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# next.js
.next/
out/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.sass-cache
connect.lock
coverage
libpeerconnection.log
testem.log
typings

# misc
.DS_Store
Thumbs.db

# notes
PROJECT.md
