$color-main: hsl(180, 6%, 87%);
$color-background: hsl(0, 0%, 0%);
$color-boxes: hsl(0, 0%, 7%);
$color-titles: hsl(120, 100%, 20%);
$color-muted: hsl(0, 0%, 42%);
$font-main: "Spectral", serif;
$font-text: "Karla", sans-serif;
$transition: all 0.5s;
