/* sass --watch style.scss style.css */
@import url("https://fonts.googleapis.com/css2?family=Karla&family=Spectral&display=swap");
$color-main: hsl(180, 6%, 87%);
$color-background: hsl(0, 0%, 0%);
$color-boxes: hsl(0, 0%, 7%);
$color-titles: hsl(120, 100%, 20%);
$color-muted: hsl(0, 0%, 42%);
$font-main: "Spectral", serif;
$font-text: "Karla", sans-serif;
$transition: all 0.5s;

* {
  box-sizing: border-box;
}

*:focus {
  box-shadow: none;
}

html {
  scroll-behavior: smooth;
}

body,
html {
  background-color: $color-background;
  color: $color-main;
  font-size: 18px;
  line-height: 1.6;
  margin: 0;
  height: 100%;
  font-family: $font-text;
}

a {
  color: $color-titles;
}

a:hover {
  color: lighten($color-titles, 25%);
  transition: $transition;
}

img {
  object-fit: cover;
  height: auto;
  width: auto;
}

section {
  padding: 60px 0;
  margin: 10px;
}

.navigation {
  background-color: $color-background;
  padding: 12px 0;
  text-align: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
}

.navigation ul {
  margin: 0;
  padding: 0;
}

.navigation ul li {
  display: inline-block;
  margin: 0 8px;
  color: $color-titles;
  font-family: $font-main;
  font-size: 16px;
  transition: $transition;
  text-decoration: none;
}

.navigation ul li a:hover {
  background-color: lighten($color-background, 30%);
  color: lighten($color-titles, 25%);
  transition: $transition;
}

.container {
  max-width: 980px;
  margin: 0 auto;
  padding: 0 20px;
}

.splash {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 0 24px;
  background-image: url("https://i.imgur.com/gQO48Eh.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 40%;
  background-attachment: fixed;
  height: 500px;
}

.page-intro {
  margin: auto;
  text-align: center;
}

.main-title {
  margin: 0;
  font-weight: normal;
  color: $color-main;
  font-size: 60px;
  font-family: $font-main;
}

.main-subtitle {
  margin: 12px 0 60px 0;
  font-weight: normal;
  color: $color-main;
  font-size: 28px;
  font-variant: small-caps;
  font-weight: bold;
  font-family: $font-main;
}

.btn {
  margin: 12px 12px 16px 0px;
}

#main-btn {
  padding: 18px 24px 18px 24px;
  font-size: 14px;
  margin: 12px 12px 12px 0px;
  background-color: $color-main;
  color: $color-background;
  transition: all 0.5s;
}

#main-btn:hover {
  background-color: $color-boxes;
  color: $color-main;
}

.section-title {
  position: relative;
  margin: 0 0 60px 0;
  text-align: center;
  color: $color-titles;
  font-family: $font-main;
  font-weight: bold;
}

.section-title:after {
  position: relative;
  display: block;
  content: "";
  width: 200px;
  height: 5px;
  background: $color-main;
  left: 50%;
  bottom: -16px;
  margin-left: -100px;
}

.section-intro {
  margin: 0 0 40px;
  text-align: center;
  color: $color-titles;
}

.about {
  background-color: $color-boxes;
  padding: 0;
}

#about-img {
  margin: 0 auto;
  padding-left: 0;
  display: block;
  width: 100%;
  height: auto;
}

.col-sm-7 {
  padding: 50px 50px;
}

#about-text {
  margin: 0 auto;
  display: block;
  text-align: justify;
}

.skills {
  padding: 60px 0 80px;
  background-color: $color-boxes;
}

.col-sm-4 {
  padding: 0 24px;
}

.feature-title {
  margin: 24px 0 0 0;
  font-family: $font-main;
}

.feature-description {
  margin: 24px 0 0 0;
  padding: 0 24px;
}

.project {
  margin: 14px 0;
  padding: 14px 0;
  font-family: $font-main;
}

.statement {
  background-image: url("https://i.imgur.com/Iie96jJ.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom 25% center;
  background-attachment: fixed;
  padding: 20px 0;
  color: $color-muted;
}

.quote blockquote {
  padding: 12px 20px;
  margin: 0;
  font-family: $font-main;
  font-weight: 500;
  font-size: 22px;
  text-align: center;
  font-style: italic;
}

.quote footer {
  margin: 10px 0 0 0;
}

.gallery {
  padding: 60px 0 10px 0;
  background-color: $color-boxes;
}

.gallery-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin: 72px 0 0 0;
}

.gallery-item {
  position: relative;
  margin: 0;
  flex: 0 0 25%;
  max-width: 25%;
  text-align: center;
}

.gallery-item img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gallery-item:before {
  position: absolute;
  display: none;
  content: "";
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: $color-background;
  opacity: 0.6;
}

.gallery-item figcaption {
  position: absolute;
  display: none;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
  color: $color-main;
  font-family: $font-main;
  font-size: 18px;
}

.gallery-item:hover:before,
.gallery-item:hover figcaption {
  display: block;
}

.contact {
  text-align: center;
}

.social-links {
  list-style-type: none;
  padding: 0;
}

.social-links li {
  display: inline-block;
  border: 1px solid $color-main;
  width: 30px;
  height: 30px;
  line-height: 30px;
  transition: $transition;
}

.social-links li a {
  display: block;
  width: 100%;
  height: 100%;
  color: $color-titles;
  transition: $transition;
}

.page-footer {
  background-color: $color-boxes;
  font-size: 12px;
  padding: 12px 0;
}

.page-footer .container {
  text-align: center;
  /* display: flex;
  justify-content: space-between; */
}

.page-footer p {
  margin: 0;
}

@media (max-width: 767px) {
  .features-wrapper {
    display: block;
  }

  .feature {
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 6px;
  }

  .gallery-item {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .navigation {
    position: static;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .features-wrapper {
    display: block;
  }

  .feature {
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 6px;
  }

  .gallery-item {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .navigation {
    position: static;
  }
}
